@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
}
body{position: relative;}
:root {
  --primary-color: #80b435;
  --black-color: #000;
}
.container {
  margin-left: 40px;
  margin-right: 40px;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  color: var(--black-color);
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 20px;
  font-size: 18px;
  font-weight: 500;
}
.btn span {
  color: var(--primary-color);
}
/*---navigation---*/
header{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  background-color:white;
  z-index: 1;
}
.navigation {
  padding-top: 40px;
  padding-bottom: 40px;
 
}
.navigation,
.logo-container,
.cart {
  flex: 1;
}

.navigation ul li {
  list-style: none;
  margin-right: 30px;
}
.navigation ul a {
  text-decoration: none;
  font-size: 25px;
  color: var(--black-color);
}
.navigation ul a:hover {
  color: var(--primary-color);
}
.logo-container {
  text-align: center;
}
.cart {
  text-align: right;
}
.cl{
  font-size: 20px;
}
/*---head-img---*/
.head-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  margin-top: 100px;
}
/*---main--*/
.hero-section {
  padding-top: 100px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.head {
  font-size: 40px;
  text-align: center;
  font-weight: 500;
}
.product-container,.product-contain{
  margin-top: 30px;
 gap: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
width: 100%;
}
/* .product-contain{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
width: 100%;
}
.product-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: 370px;
} */
.main-pro{
  margin-top: 100px;
}
.card {
  flex-direction: column;
  border-radius: 20px;
  padding: 10px 30px;
  transition: all 0.15s ease;
}

.product-img {
  width: 100%;
  object-fit: contain;
}
.product-name {
  font-size: 22px;
  font-weight: 600;
}
.price {
  display: flex;
  gap: 20px;
  align-items: start;
  justify-content: start;
}
.discount {
  text-decoration-line: line-through;
  color: rgb(104, 103, 103);
}
.original {
  color: var(--primary-color);
  font-weight: 500;
}
.cart-btn,
.buy-btn,.added,
.all-Btn,.sidebar-buy {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  font-weight: 600;
}
.buy-btn,.sidebar-buy {
  background-color: var(--primary-color);
  color:white;
}
.cart-btn {
  margin-right: 30px;
  background-color: transparent;
  border: 2px solid var(--primary-color);
}
.cart-btn:active{
box-shadow:2px 2px 2px var(--primary-color);
}
.added{background-color:var(--primary-color);
color:white;
margin-right: 30px;}
.buy-btn:active{box-shadow:2px 2px 2px black;}
.more-btn {
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid black;
}
.all-Btn{
  background-color:var(--primary-color);
  color:white;

}
/*--about-us*/
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  padding-top: 100px;
}
.about {
  text-align: center;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.about p {
  font-size: 18px;
  word-spacing: 1.6;
  line-height: 1.8;
}
.more-ab {
  background-image: url(images/replace.webp);
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px;
  background-attachment: fixed;
}
.more-ab p {
  font-size: 40px;
  margin-bottom: 20px;
}
/*--footer--*/
.foot {
  border-top: 1px solid rgb(160, 160, 160);
  padding: 20px;
}
.copyright-text {
  color: rgb(160, 160, 160);
  font-size: 16px;
}
.social img {
  width: 30px;
  margin-right: 20px;
}
/*sidebar*/
.sidebar{
position: fixed;
top:100px;
right: 0;
bottom: 20px;
color:white;
background-color:black;
width: 350px;
z-index: 1;
overflow-y: scroll;
padding:50px 20px;

}
.cross{
  position:absolute;
  top:20px;
  right: 20px;
}
.active{
  display: none;
}

.cart-head{
  text-align: center;
  padding-bottom: 10px;
border-bottom: 3px solid white;
font-size: 25px;
}
.cart-msg{
  margin-top: 50px;
  text-align: center;
  border:1px solid white;
  padding:15px 10px;

}
.cart-pro{
  width: 100%;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap:20px;
align-items:center;
justify-content: center;
margin-bottom: 20px;
margin-top: 30px;
}
.cart-pro img{
  width: 100%
}
.cart-pro input{
width: 100%;
height: 40px;
text-align: center;
font-weight: bold;
}
.cart-pro button{
padding: 10px 15px;
background-color:var(--primary-color);
color:white;
font-weight: bold;
border:none;
border-radius:20px;

}
.cart-pro p{
  display: flex;
}
.calculate{
  border-top:1px solid white;
  text-align: right;
  font-size: 20px;
}

/*buy*/
.main-container{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 60px;
  margin-right: 60px;
}
.summary{
  background-color:var(--primary-color);
  padding: 20px;
}
.summary p{
  font-size: 20px;
  font-weight: bold;
  color:white;
}
.main-section{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap:60px;

}
.show-container{
  border:1px solid var(--primary-color);
  margin-bottom: 20px;
}
.buy-pro{

display: flex;
align-items:center;
justify-content: space-between;
padding: 10px 30px;
}
.buy-pro img{
  width: 150px;
}
.buy-pro .name{
font-size: 25px;
font-weight: 500;
margin-bottom: 20px;
}
.buy-pro .discount ,.buy-pro .original{
  font-size: 15px;
}
.continue{
  text-align: right;
}
.continue button{
  padding: 10px 40px;
  font-size: 20px;
  background-color:var(--primary-color);
  color:white;
  font-weight: bold;
  border:none;
  border-radius:2px;
}
.payment-section{
 
 display: flex;
 flex-direction: column;
 align-items:center;
 justify-content:start;

}
.price-details{
  border:1px solid var(--primary-color);
  padding: 40px;
}
.price-details .flex-space{
margin-bottom: 10px;
}
.pay-head{
  font-size: 20px;
  font-weight: bold;
  padding-bottom:20px ;
  border-bottom:1px solid gray;
  margin-bottom: 20px;
}

.info{
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
}
.total-pay{
  font-weight: 600;
}
.pay-total{
  border-top:1px solid grey;
  border-bottom:1px solid grey;
}
.free{
  font-size: 16px;
  color:grey;
  text-decoration: line-through;
  color:var(--primary-color);
  margin-left: 5px;
}
.statement{
  color:var(--primary-color);
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}
.remove-btn{
  background-color:var(--primary-color);
  color:white;
}
.quantity{
  display: flex;
  align-items:center;
 gap:10px;
}
.quantity-btn{
  font-weight: bold;
  border:1px solid var(--black-color);
}

.cart-pay{
  position: relative;
}
.payment-section{
  position: fixed;
left: auto;
right: auto;
}

.empty-msg-container{
  display: flex;
  align-items:center;
  justify-content: center;
  padding:40px 20px;
  flex-direction: column;
  gap:10px
}
.empty-img{
  width: 100px;
}
.empty-msg {
  font-size: 20px;
}
.add-msg{
  font-size: 16px;
}
.shop-btn{
  background-color:var(--primary-color);
  color: white;
}
.hidden{
  display: none;
}